<div>
  <h1>Bem-vindo ao Controle de Suínos</h1>

  <!-- Links de navegação -->
  <nav>
    <ul>
      <li><a routerLink="/cadastro-suino">Cadastro de Suíno</a></li>
      <li><a routerLink="/listagem-suinos">Listagem de Suínos</a></li>
      <li><a routerLink="/controle-peso">Controle de Peso</a></li>
      <li><a routerLink="/cadastro-peso">Cadastro de Peso</a></li> <!-- Link para o cadastro de peso -->
    </ul>
  </nav>

  <!-- Área para o roteador Angular carregar os componentes -->
  <router-outlet></router-outlet>
</div>
