<div>
  <h2>Listagem de Suínos</h2>

  <div>
    <label for="filtroBrincoPai">Filtrar por brinco do pai:</label>
    <input type="text" id="filtroBrincoPai" [(ngModel)]="filtroBrincoPai">
  </div>

  <!-- Outros filtros aqui -->

  <table>
    <thead>
    <tr>
      <th>Brinco do Animal</th>
      <th>Brinco do Pai</th>
      <th>Brinco da Mãe</th>
      <th>Data de Nascimento</th>
      <th>Data de Saída</th>
      <th>Status</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let suino of suinos | filterSuinos:filtroBrincoPai">
      <td>{{ suino.brincoAnimal }}</td>
      <td>{{ suino.brincoPai }}</td>
      <td>{{ suino.brincoMae }}</td>
      <td>{{ suino.dataNascimento | date }}</td>
      <td>{{ suino.dataSaida | date }}</td>
      <td>{{ suino.status }}</td>
      <td>{{ suino.sexo }}</td>
      <td>{{ calcularIdade(suino.dataNascimento) }}</td>
      <td>
        <button (click)="editarSuino(suino)">Editar</button>
        <button (click)="deletarSuino(suino)">Deletar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
